---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello World</h1>
			<p>
				I'm Shawn Renner, an experienced software developer in Saint Louis, Missouri.
			</p>
			<p>
				My primary tech stack is .NET with modern frontend frameworks like Angular, Vue, and React. 
				I've worked on mobile apps in both React Native and Angular/Capacitor, but my first priority is the web.
				In my spare time, I take on projects with Arduino, Raspberry Pi, ESP32, and other embedded platforms.
				Feel free to contact me if you're looking to hire a senior developer for your team.
			</p>
		</main>
		<Footer />
	</body>
</html>
